matplotlib
numpy
pandas
seaborn
langchain
langgraph
notebook
openai
streamlit
requests
python-dotenv
tmdbv3api
pytz
scikit-learn
langchain-google-genai
langchain-ollama
langchain-openai
langchain-groq